.menu {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .menu .hide {
    display: none;
  }
  
  .menu .overlap-wrapper {
    background-color: #ffffff;
    height: 920px;
    width: 100%;
  }
  
  .menu .overlap {
    background-color: var(--surface);
    height: 920px;
    position: relative;
    padding: 60px 60px;
  }
  
  .menu .navigation {
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    left: 252px;
    /* position: absolute; */
    /* top: 60px; */
    /* width: 1320px; */
  }
  
  .menu .AVY-LOGO {
    height: 60px;
    object-fit: cover;
    position: relative;
    width: 60px;
  }
  
  .menu .close-button {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 8px 4px 8px 16px;
    position: relative;
  }
  
  .menu .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
  }
  
  .menu .text-wrapper {
    color: var(--black);
    font-family: var(--desktop-label-medium-font-family);
    font-size: var(--desktop-label-medium-font-size);
    font-style: var(--desktop-label-medium-font-style);
    font-weight: var(--desktop-label-medium-font-weight);
    letter-spacing: var(--desktop-label-medium-letter-spacing);
    line-height: var(--desktop-label-medium-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .menu .mdi-window-close {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .menu .overlap-group {
    height: 548px;
    left: 25%;
    position: absolute;
    top: 20%;
    width: 936px;
  }
  
  .menu .menu-navigation {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 28px;
    width: 900px;
  }
  
  .menu .menu-title-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .menu .image {
    height: 548px;
    left: 531px;
    position: absolute;
    top: 0;
    width: 405px;
  }
  
  /* .menu .div {
    height: 548px;
    position: relative;
  } */
  
  .menu .image .avy-website-banner {
    height: 520px;
    left: 248px;
    position: absolute;
    top: 28px;
    width: 130px;
  }
  
  .menu .image .unsplash {
    height: 548px;
    left: 0;
    position: absolute;
    top: 0;
    width: 405px;
  }
  