.insights-page {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 0px 0px 100px;
  position: relative;
}

.insights-page .TOP-NAVBAR-INSIGHTS {
  /* align-items: center; */
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
  padding: 0 60px;
}

.insights-page .design-component-instance-node {
  flex: 0 0 auto !important;
}

.insights-page .INSIGHTS {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.insights-page .text-wrapper-6 {
  color: var(--black);
  font-family: var(--desktop-headline-h1-font-family);
  font-size: var(--desktop-headline-h1-font-size);
  font-style: var(--desktop-headline-h1-font-style);
  font-weight: var(--desktop-headline-h1-font-weight);
  letter-spacing: var(--desktop-headline-h1-letter-spacing);
  line-height: var(--desktop-headline-h1-line-height);
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.insights-page .categories-content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.insights-page .categories {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 105px;
  position: relative;
  width: 100%;
}

.insights-page .text-wrapper-7 {
  color: var(--primary);
  font-family: var(--desktop-label-medium-font-family);
  font-size: var(--desktop-label-medium-font-size);
  font-style: var(--desktop-label-medium-font-style);
  font-weight: var(--desktop-label-medium-font-weight);
  letter-spacing: var(--desktop-label-medium-letter-spacing);
  line-height: var(--desktop-label-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.insights-page .text-wrapper-8 {
  color: var(--black);
  font-family: var(--desktop-label-medium-font-family);
  font-size: var(--desktop-label-medium-font-size);
  font-style: var(--desktop-label-medium-font-style);
  font-weight: var(--desktop-label-medium-font-weight);
  letter-spacing: var(--desktop-label-medium-letter-spacing);
  line-height: var(--desktop-label-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.insights-page .content-container {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.insights-page .article {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--black);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 0px;
  position: relative;
  width: 100%;
}

.insights-page .content-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.insights-page .rectangle {
  height: 342px;
  object-fit: cover;
  position: relative;
  width: 34%;
}

.insights-page .text-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.insights-page .p {
  align-self: stretch;
  color: var(--black);
  font-family: var(--desktop-display-large-font-family);
  font-size: var(--desktop-display-large-font-size);
  font-style: var(--desktop-display-large-font-style);
  font-weight: var(--desktop-display-large-font-weight);
  letter-spacing: var(--desktop-display-large-letter-spacing);
  line-height: var(--desktop-display-large-line-height);
  margin-top: -1px;
  position: relative;
}

.insights-page .date-button {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.insights-page .date-category {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.insights-page .text-wrapper-9 {
  color: var(--secondary);
  font-family: var(--desktop-body-medium-font-family);
  font-size: var(--desktop-body-medium-font-size);
  font-style: var(--desktop-body-medium-font-style);
  font-weight: var(--desktop-body-medium-font-weight);
  letter-spacing: var(--desktop-body-medium-letter-spacing);
  line-height: var(--desktop-body-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.insights-page .line-2 {
  align-self: stretch;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.insights-page .content-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 40px 0px;
  position: relative;
  width: 100%;
}

.insights-page .FOOTER-instance {
  background-color: transparent !important;
}

@media only screen and (max-width: 390px) {
  .insights-page {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0px 0px 60px;
    position: relative;
  }
  
  .insights-page .TOP-NAVBAR-INSIGHTS {
    /* align-items: center; */
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
    padding: 0;
  }
  
  .insights-page .design-component-instance-node {
    flex: 0 0 auto !important;
  }
  
  .insights-page .INSIGHTS {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 60px;
    position: relative;
    padding: 0 16px;
  }
  
  .insights-page .text-wrapper-6 {
    color: var(--black);
    font-family: Montserrat;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin-top: -1px;
    position: relative;
    width: 100%;
  }
  
  .insights-page .categories-content {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .insights-page .categories {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 60px;
    position: relative;
    width: 100%;
    overflow-x: scroll;
  }
  
  .insights-page .text-wrapper-7 {
    color: var(--primary);
    font-family: var(--desktop-label-medium-font-family);
    font-size: var(--desktop-label-medium-font-size);
    font-style: var(--desktop-label-medium-font-style);
    font-weight: var(--desktop-label-medium-font-weight);
    letter-spacing: var(--desktop-label-medium-letter-spacing);
    line-height: var(--desktop-label-medium-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .insights-page .text-wrapper-8 {
    color: var(--black);
    font-family: var(--desktop-label-medium-font-family);
    font-size: var(--desktop-label-medium-font-size);
    font-style: var(--desktop-label-medium-font-style);
    font-weight: var(--desktop-label-medium-font-weight);
    letter-spacing: var(--desktop-label-medium-letter-spacing);
    line-height: var(--desktop-label-medium-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .insights-page .content-container {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .insights-page .article {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--black);
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 40px 0px;
    position: relative;
    width: 100%;
  }
  
  .insights-page .content-2 {
    align-items: flex-start;
    align-self: stretch;
    display: grid;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .insights-page .rectangle {
    height: 342px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .insights-page .text-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    gap: 12px;
  }
  
  .insights-page .p {
    align-self: stretch;
    color: var(--black);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
  }
  
  .insights-page .date-button {
    align-items: center;
    align-self: stretch;
    display: grid;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
    gap: 24px;
  }
  
  .insights-page .date-category {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    overflow-x: scroll;
  }
  
  .insights-page .text-wrapper-9 {
    color: var(--secondary);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .insights-page .line-2 {
    align-self: stretch;
    object-fit: cover;
    position: relative;
    width: 1px;
  }
  
  .insights-page .content-wrapper {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--black);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 40px 0px;
    position: relative;
    width: 100%;
  }
  
  .insights-page .FOOTER-instance {
    background-color: transparent !important;
  }
  
}